* {
  margin: 0px;
  padding: 0px;
}

body {
	font-size: 120%;
	background:#f5cd79;
	text-align: center;
}

.header {
	width: 50%;
	margin: 50px auto 0 auto;
	color: white;
	background:#bb4c71;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 10px;
}

form{
	width: 50%;
	margin: 0 auto 50px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}

.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: center;
	margin: 3px;
}

.input-group input {
	background-color: #d3d9de;
	opacity: .80;
  border: hidden;
  height: 2em;
  padding: 0.5em;
  font-size: 1em;
  color: black;
  margin: 0px auto;
  width: 25em;
}

#click{
  color: #bb4c71;
  font-weight: bold;
}

.error {
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #a94442;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: left;
}

.btn {
	margin-top: 1em;
  background-color: #bb4c71;
	opacity: .99;
  color: white;
  border: 1px solid #D6DBDF;
  height: 3em;
  padding: 0.5em 1em 0.5em 1em;
  text-align: center;
  font-weight: bold;
}

.btn:hover, .btn_sign-up:hover{
  cursor: pointer;
	background-color: #ffdcba;
	border: 1px solid #ffdcba;
	color: #333;
}

.btn_sign-up {
	margin-top: 1em;
  background-color: white;
	opacity: .99;
  color: #bb4c71;
  border: 1px solid #D6DBDF;
  height: 3em;
  padding: 0.5em 1em 0.5em 1em;
  text-align: center;
  font-weight: bold;
}
