article.turban{
 background-color: #f5cd79;
 padding-top: 75px;
 padding-bottom: 75px;
}

.one_image{
  padding-bottom: 20px;
  padding-left: 0;
}

#turban-title{
  font-size: 40px;
	font-weight: 500;
  text-align: center;
}

.turban_table{
  text-align: center;
  align-self: center;
  table-layout: auto;
  max-width: 1000px;
	margin: 0 auto;
}

td, tr{
  vertical-align: text-top;
  width: 20em;

}

.addCartBtn{
  margin-top: 1em;
  background-color: #bb4c71;
  opacity: .99;
  color: white;
  border: 1px solid #D6DBDF;
  height: 3em;
  padding: 0.5em;
  text-align: center;
  font-weight: bold;
}

.addCartBtn:hover{
  cursor: pointer;
	background-color: #ffdcba;
	border: 1px solid #ffdcba;
	color: #333;
}

#name{
  font-weight: 500;
}

#promo{
  color: #bb4c71;
  font-weight: bolder;
}

#price{
  font-weight: bolder;
}

#oldprice{
  text-decoration: line-through;
  font-size: 0.8em;
}
